In [1]:
import pandas as pd
import nltk
import re
import string

In [2]:
HH_Tweets = pd.read_csv('Hurricane_Harvey.csv')

In [3]:
HH_Tweets.head()

,Unnamed: 0,ID,Likes,Replies,Retweets,Time,Tweet
0,0.0,9.010000e+17,3.0,0.0,0.0,8/25/2017 14:44,If you do decide to drive in for #ColdplayHous...
1,1.0,9.010000e+17,0.0,0.0,0.0,8/25/2017 14:44,"As Hurricane Harvey is fast approaching, now i..."
2,2.0,9.010000e+17,6.0,0.0,1.0,8/25/2017 14:44,Is @JerryJordan_KTT providing live #HurricaneH...
3,3.0,9.010000e+17,0.0,0.0,0.0,8/25/2017 14:44,I'm waiting for a Steve Harvey Hurricane meme
4,4.0,9.010000e+17,0.0,0.0,0.0,8/25/2017 14:44,The name of the hurricane is Harvey ... Steve ...

In [4]:
# There are 399,406 reviews in the dataset
len(HH_Tweets)

399406

In [5]:
# Remove all columns except for Time and Tweet
Hurricane_Tweets = HH_Tweets.drop(['Unnamed: 0','ID','Likes','Replies','Retweets','Time'], axis=1)

In [6]:
Hurricane_Tweets

                                                    Tweet
0       If you do decide to drive in for #ColdplayHous...
1       As Hurricane Harvey is fast approaching, now i...
2       Is @JerryJordan_KTT providing live #HurricaneH...
3           I'm waiting for a Steve Harvey Hurricane meme
4       The name of the hurricane is Harvey ... Steve ...
...                                                   ...
399401  Lawyers wanting to provide pro bono help in th...
399402  Hurricane Harvey: Alabama�s largest church alr...
399403  Hurricane Harvey pressures already tight Houst...
399404  Our thoughts are with our neighbors in the Sou...
399405  Marylanders head to Texas to assist with Hurri...

[399406 rows x 1 columns]

In [20]:
Hurricane_Tweets.dtypes

Time     datetime64[ns]
Tweet            object
dtype: object

In [42]:
Hurricane_Tweets['Tweet'] = Hurricane_Tweets['Tweet'].astype(str)

In [43]:
# Text preprocessing steps - remove numbers, captial letters and punctuation


alphanumeric = lambda x: re.sub('\w*\d\w*', ' ', x)
punc_lower = lambda x: re.sub('[%s]' % re.escape(string.punctuation), ' ', x.lower())

Hurricane_Tweets['Tweet'] = Hurricane_Tweets.Tweet.map(alphanumeric).map(punc_lower)
Hurricane_Tweets.head()

                                               Tweet
0  if you do decide to drive in for  coldplayhous...
1  as hurricane harvey is fast approaching  now i...
2  is  jerryjordan ktt providing live  hurricaneh...
3      i m waiting for a steve harvey hurricane meme
4  the name of the hurricane is harvey     steve ...

In [44]:
# Drop Nulls/NaN's
Hurricane_Tweets_Cleaned= Hurricane_Tweets.dropna(subset = ['Tweet'])

In [45]:
Hurricane_Tweets_Cleaned

                                                    Tweet
0       if you do decide to drive in for  coldplayhous...
1       as hurricane harvey is fast approaching  now i...
2       is  jerryjordan ktt providing live  hurricaneh...
3           i m waiting for a steve harvey hurricane meme
4       the name of the hurricane is harvey     steve ...
...                                                   ...
399401  lawyers wanting to provide pro bono help in th...
399402  hurricane harvey  alabama�s largest church alr...
399403  hurricane harvey pressures already tight houst...
399404  our thoughts are with our neighbors in the sou...
399405  marylanders head to texas to assist with hurri...

[399406 rows x 1 columns]

In [46]:
Hurricane_Tweets_Cleaned.to_csv('Hurricane_Harvey_Tweets_Cleaned_Time_Removed.csv', index = False)

In [47]:
Hurricane_Tweets_Cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399406 entries, 0 to 399405
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Tweet   399406 non-null  object
dtypes: object(1)
memory usage: 6.1+ MB